<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table>
      <tr>
        <div class="field">
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= f.label :key %></td>
          <td><%= f.text_field :key %></td>
        </div>
      </tr>
    </table><br><br>

  <div class="actions">
    <%= f.submit class:"btn btn-primary btn-lg"%><br><br><br><br><br>
  </div>
<% end %>
