<%= form_for(instance) do |f| %>
  <% if instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
    <div class="field">
      <td><%= f.label :hostname %></td>
      <td><%= f.text_field :hostname %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :profile_id %></td>
      <td><%= f.select 'profile_id', @profiles.collect{ |p| [p.name, p.id] } %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :region %></td>
      <td><%= f.text_field :region %></td>
    </div>
    </tr>
  </table><br><br>

  <div class="actions">
    <%= f.submit class:"btn btn-primary btn-lg"%><br><br><br><br><br>
  </div>
<% end %>
